[submodule "bash-tools"]
	path = bash-tools
	url = https://github.com/andresgongora/bash-tools.git
[submodule "synth-shell/synth-shell-greeter"]
	path = synth-shell/synth-shell-greeter
	url = https://github.com/andresgongora/synth-shell-greeter.git
