##==============================================================================
## LOGO
##
## Configure the logo to your liking. You can either use the default or
## set your own ASCII art down below. 
##
## - You can either add it as a single line, or multiline (terminated with \).
## - You have to escape backslashes if you want them to show inside your logo.
##   Use \\\\ for 1 backslash, \\\\\\\\ for two. All other characters work fine.
## - You can also add individual color codes to the logo using '\e[ ··· m'.
## - For example:   \e[1;31mHello World!   prints in bright red.
## - If you want extra spaces between the logo and the status info, just add
##   extra spaces at the last line and end it with '\n'.
##==============================================================================

logo="
        -oydNMMMMNdyo-
     -yNMMMMMMMMMMMMMMNy-
   .hMMMMMMmhsooshmMMMMMMh.
  :NMMMMmo.        .omMMMMN:
 -NMMMMs    -+ss+-    sMMMMN-
 hMMMMs   -mMMMMMMm-   sMMMMh
'MMMMM.  'NMMMMMMMMN'  .MMMMM
'MMMMM.  'NMMMMMMMMN'   yMMMM'
 hMMMMs   -mMMMMMMMMy.   -yMh
 -NMMMMs    -+ss+yMMMMy.   -.
  :NMMMMmo.       .yMMMMy.
   .hMMMMMMmhsoo-   .yMMMy
     -yNMMMMMMMMMy-   .o-
        -oydNMMMMNd/          \n"



##==============================================================================
## STATUS INFO
##
## Choose what to print and in what order
## Valid options are:
##
##			## SIMPLE ONE-LINERS
## OS			Linux distribution name
## KERNEL		Kernel version
## CPU			CPU Name
## SHELL		Shell name
## DATE			Current date
## UPTIME		System uptime (time since boot)
## USER			Current user and host names
## NUMLOGGED		Show number of logged in users
## NAMELOGGED		Show names of logged in users
## LOCALIPV4		IPv4
## EXTERNALIPV4		External IPv4 (might be slow)
## SERVICES		Summary of failed services
## CPUUTILIZATION	Sys load average(eg. 0.23, 0.26, 0.27 )
## CPUTEMP		CPU temperature (requires lm-sensors)
##
##			## SYS LOAD MONITORS
## SYSLOAD_MON		Current CPU load
## MEMORY_MON		Occupied memory
## SWAP_MON		Occupied SWAP
## HDDROOT_MON		/ partition occupied
## HDDHOME_MON		/home/user occupied
## CPUTEMP_MON		CPU temperature (requires lm-sensors)
## SYSLOAD_MON%		Current CPU load in %
## MEMORY_MON%		Occupied memory in %
## SWAP_MON%		Occupied SWAP in %
## HDDROOT_MON%		/ partition occupied in %
## HDDHOME_MON%		/home/user occupied in %
##
##			## MISC
## SPACER		Print decorative spacer (empty line)
## PALETTE		Show 16-bit palette (add SPACER before for best results)
## PALETTE_SMALL	Show smaller version of 16-bit color palette
##
##==============================================================================

print_info="
	OS
	KERNEL
	CPU
	GPU
	SHELL
	DATE
	UPTIME
	LOCALIPV4
	EXTERNALIPV4
	SERVICES
	CPUTEMP
	SYSLOAD_MON%
	MEMORY_MON
	SWAP_MON
	HDDROOT_MON
	HDDHOME_MON
	PALETTE"



##==============================================================================
## COLORS
## 
## Control the color and format scheme of the status report.
## -c color: color name or 256bit color code
## -b background color: color name or 256bit color code
## -e effect: bold, blink, dim, underline...
##
## Valid color names (16 bit):
## white, light-gray, dark-gray, black,
## red, green, yellow, blue, magenta, cyan,
## light-red, light-green, light-yellow, light-blue, light-magenta, light-cyan
##
##==============================================================================

format_info="		-c white"
format_highlight="	-c blue		-e bold"
format_crit="		-c 208		-e bold"
format_deco="		-c white	-e bold"
format_ok="		-c blue  	-e bold"
format_error="		-c 208		-e bold 	-e blink"
format_logo="		-c blue		-e bold"



##==============================================================================
## STATUS BARS
##
## This option controls the behaviour of the visual status bars that are plotted
## for CPU, Memory, Swap and HDD usage. You can set the percentage that
## determines when the current usage is deemed critical. If said percentage
## is surpassed, the color of the bars will change and extra information
## might be plotted in addition (e.g. if the CPU usage is too high, the most
## demanding processes are printed to terminal).
##==============================================================================

crit_cpu_percent=40
crit_ram_percent=75
crit_swap_percent=25
crit_hdd_percent=85
crit_home_percent=85


bar_length=13			# Number of characters that comprise a bar
bar_num_digits=5		# Control num digits next to bar
info_label_width=16		# Desired length of the info labels



##==============================================================================
## OTHERS
##
## For date format setup, see `man date`
##==============================================================================

print_cols_max=100		# Keep logo and info text together
print_logo_right=false		# Change where the logo is plotted
date_format="%Y.%m.%d - %T"	# see 'man date'
clear_before_print=false	# Dangerous if true, some messages might be lost
print_extra_new_line_top=true	# Extra line before logo and info
print_extra_new_line_bot=true	# Extra line after logo and info


