##==============================================================================
## LOGO
##
## Configure the logo to you liking. You can either use the default or
## set your own ASCII art down below. 
## You can either add it as a single line, or multiline (terminated with \).
## You can also add individual color codes to the logo.
##==============================================================================

logo	"                              \n"\
	"        -oydNMMMMNdyo-        \n"\
	"     -yNMMMMMMMMMMMMMMNy-     \n"\
	"   .hMMMMMMmhsooshmMMMMMMh.   \n"\
	"  :NMMMMmo.        .omMMMMN:  \n"\
	" -NMMMMs    -+ss+-    sMMMMN- \n"\
	" hMMMMs   -mMMMMMMm-   sMMMMh \n"\
	"'MMMMM.  'NMMMMMMMMN'  .MMMMM'\n"\
	"'MMMMM.  'NMMMXMMMMN'   yMMMM'\n"\
	" hMMMMs   -mMMMMMMMMy.   -yMh \n"\
	" -NMMMMs    -+ss+yMMMMy.   -. \n"\
	"  :NMMMMmo.       .yMMMMy.    \n"\
	"   .hMMMMMMmhsoo-   .yMMMy    \n"\
	"     -yNMMMMMMMMMy-   .o-     \n"\
	"        -oydNMMMMNd/          \n"\
	"                                "



##==============================================================================
## COLORS
## 
## Control the color and format scheme of the status report.
## -c color: color name or 256bit color code
## -b background ground color: color name or 256bit color code
## -e effect: bold, blink, dim, underline...
##==============================================================================

format_info		"-c white"
format_highlight	"-c blue  -e bold"
format_crit		"-c 208   -e bold"
format_deco		"-c white -e bold"
format_ok		"-c blue  -e bold"
format_error		"-c 208   -e bold -e blink"
format_logo		"-c blue  -e bold"



##==============================================================================
## STATUS BARS
##
## This optios control the behaviourt of the visual status bars that are plotted
## for CPU, Memory, Swap and HDD usage. You can set the percentage that
## determine when the current usage is deemed critical. If said percentage
## is surprased, the color of the bars will change and extra information
## might be plotted in addition (e.g. if the CPU usage is to high, the most
## demanding processes are printed to terminal).
##==============================================================================

crit_cpu_percent	40
crit_mem_percent	75
crit_swap_percent	25
crit_hdd_percent	85
crit_home_percent	85

bar_length		13	# Number of characters that comprise a bar
bar_num_digits		5	# Control num digits next to bar
info_label_width	16	# Desired length of the info labels



##==============================================================================
## OTHERS
##
## For date format setup, see `man date`
##==============================================================================

date_format		"%Y.%m.%d - %T"	# see 'man date'
local print_cols_max	100 		# Keep logo and info text together
local print_logo_right	false		# Change where the logo is plotted


