##==============================================================================
## LOGO
##
## Configure the logo to you liking. You can either use the default or
## set your own ASCII art down below. 
##
## - You can either add it as a single line, or multiline (terminated with \).
## - You have to escape backslashes if you want them to show inside your logo.
##   Use \\\\ for 1 backslash, \\\\\\\\ for two. All other characters work fine.
## - You can also add individual color codes to the logo using '\e[ ··· m'.
## - For example:   \e[1;31mHello World!   prints in bright red.
##==============================================================================

## MAPIR (UMA) Robotics Research Group
logo="       
 __  __   _   ___ ___ ___
|  \\/  | /_\\ | _ \\_ _| _ \\
| |\\/| |/ _ \\|  _/| ||   /
|_|  |_/_/ \\_\\_| |___|_|_\\

  MACHINE PERCEPTION AND
   INTELLIGENT ROBOTICS
       mapir.uma.es
"



##==============================================================================
## COLORS
## 
## Control the color and format scheme of the status report.
## -c color: color name or 256bit color code
## -b background ground color: color name or 256bit color code
## -e effect: bold, blink, dim, underline...
##==============================================================================

format_info="		-c white"
format_highlight="	-c cyan		-e bold"
format_crit="		-c 208		-e bold"
format_deco="		-c white	-e bold"
format_ok="		-c cyan  	-e bold"
format_error="		-c 208		-e bold 	-e blink"
format_logo="		-c cyan		-e bold"
