
var2	"   hol     a\nm\e[0;31mundo"   # COmment

var3	"        -oydNMMMMNdyo-        \n"\
	"     -yNMMMMMMMMMMMMMMNy-     \n"\
	"   .hMMMMMMmhsooshmMMMMMMh.   \n"\
	"  :NMMMMmo.        .omMMMMN:  \n"\
	" -NMMMMs    -+ss+-    sMMMMN- \n"\
	" hMMMMs   -mMMMMMMm-   sMMMMh \n"\
	"'MMMMM.  'NMM    MMN'  .MMMMM'\n"\
	"'MMMMM.  'NMMMMMMMMN'   yMMMM'\n"\
	" hMMMMs   -mMMMMMMMMy.   -yMh \n"\
	" -NMMMMs    -+ss+yMMMMy.   -. \n"\
	"  :NMMMMmo.       .yMMMMy.    \n"\
	"   .hMMMMMMmhsoo-   .yMMMy    \n"\
	"     -yNMMMMMMMMMy-   .o-     \n"\
	"        -oydNMMMMNd/          "

  var1	3

# Comentario
	# comentario 2
  # comentario 3
