##==============================================================================
##	COLORS
##==============================================================================

## First color
FONT_COLOR_USER			white
BACKGROUND_USER			blue
TEXTEFFECT_USER			bold

## Second color
FONT_COLOR_HOST			white
BACKGROUND_HOST			light-blue
TEXTEFFECT_HOST			bold

## Third color
FONT_COLOR_PWD			dark-gray
BACKGROUND_PWD			white
TEXTEFFECT_PWD			bold

## Input text font
FONT_COLOR_INPUT		cyan
BACKGROUND_INPUT		none
TEXTEFFECT_INPUT		bold

