##==============================================================================
##	LOGO
##==============================================================================


logo_01			"        -oydNMMMMNdyo-        "
logo_02			"     -yNMMMMMMMMMMMMMMNy-     "
logo_03			"   .hMMMMMMmhsooshmMMMMMMh.   "
logo_04			"  :NMMMMmo.        .omMMMMN:  "
logo_05			" -NMMMMs    -+ss+-    sMMMMN- "
logo_06			" hMMMMs   -mMMMMMMm-   sMMMMh "
logo_07			"'MMMMM.  'NMMMMMMMMN'  .MMMMM'"
logo_08			"'MMMMM.  'NMMMMMMMMN'   yMMMM'"
logo_09			" hMMMMs   -mMMMMMMMMy.   -yMh "
logo_10			" -NMMMMs    -+ss+yMMMMy.   -. "
logo_11			"  :NMMMMmo.       .yMMMMy.    "
logo_12			"   .hMMMMMMmhsoo-   .yMMMy    "
logo_13			"     -yNMMMMMMMMMy-   .o-     "
logo_14			"        -oydNMMMMNd/          "

logo_padding		""



##==============================================================================
##	STATUS BARS
##==============================================================================
BAR_LENGTH		15
CRIT_CPU_PERCENT	50
CRIT_MEM_PERCENT	75
CRIT_SWAP_PERCENT	25
CRIT_HDD_PERCENT	80
MAX_DIGITS		5




##==============================================================================
##	COLORS
##==============================================================================
format_info		"-c white"
format_highlight	"-c blue  -e bold"
format_crit		"-c 208   -e bold"
format_deco		"-c white -e bold"
format_ok		"-c blue  -e bold"
format_error		"-c 208   -e bold -e blink"
format_logo		"-c blue  -e bold"

