##==============================================================================
## LOGO
##
## Configure the logo to you liking. You can either use the default or
## set your own ASCII art down below. 
##
## - You can either add it as a single line, or multiline (terminated with \).
## - You have to escape backslashes if you want them to show inside your logo.
##   Use \\\\ for 1 backslash, \\\\\\\\ for two. All other characters work fine.
## - You can also add individual color codes to the logo using '\e[ ··· m'.
## - For example:   \e[1;31mHello World!   prints in bright red.
##==============================================================================

## ArchLinux theme from archey3. Slightly modified. Sources:
## - https://wiki.archlinux.org/index.php/ASCII_art
## - https://bbs.archlinux.org/viewtopic.php?id=24208&p=6

logo="                .         
\e[0;94m                #             
\e[0;94m               ###
\e[0;94m              #####
\e[0;94m              ######
\e[0;94m             ; #####;
\e[0;94m            +##.#####
\e[0;94m           +##########
\e[0;94m          ######\e[0;34m#####\e[0;94m##; 
\e[0;94m         ###\e[0;34m############\e[0;94m+    
\e[0;94m        #\e[0;34m######   #######
\e[0;34m      .######;     ;###;\`\".     
\e[0;34m     .#######;     ;#####.   
\e[0;34m     #########.   .########\`     
\e[0;34m    ######\'           \'######   
\e[0;34m   ;####                 ####; 
\e[0;34m   ##\'                     \'## 
\e[0;34m  #\'                         \`#
\e[0;34m '                            \` "



##==============================================================================
## STATUS INFO
##
## Choose what to print. Valid options are:
##
## OS			Linux distribution name
## KERNEL		Kernel version
## CPU			CPU Name
## SHELL		Shell name
## DATE			Current date
## USER			Current user and host names
## LOCALIPV4		IPv4
## EXTERNALIPV4		External IPv4 (might be slow)
## SERVICES		Sumary of failed services
## SYSLOADAVG		Current CPU load
## MEMORY		Occupied memory
## SWAP			Occupied SWAP
## HDDROOT		/ partition occupied
## HDDHOME		/home/user occupied
## SYSLOADAVG%		Current CPU load in %
## MEMORY%		Occupied memory in %
## SWAP%		Occupied SWAP in %
## HDDROOT%		/ partition occupied in %
## HDDHOME%		/home/user occupied in %
##
## You may add this options on a single line, or multiple lines separated by \
##==============================================================================

print_info="
	OS
	KERNEL
	CPU
	SHELL
	DATE
	USER
	LOCALIPV4
	EXTERNALIPV4
	SERVICES
	SYSLOADAVG%
	MEMORY
	SWAP
	HDDROOT
	HDDHOME"



##==============================================================================
## COLORS
## 
## Control the color and format scheme of the status report.
## -c color: color name or 256bit color code
## -b background ground color: color name or 256bit color code
## -e effect: bold, blink, dim, underline...
##==============================================================================

format_info="		-c white"
format_highlight="	-c blue		-e bold"
format_crit="		-c 208		-e bold"
format_deco="		-c white	-e bold"
format_ok="		-c blue  	-e bold"
format_error="		-c 208		-e bold 	-e blink"
format_logo="		-c blue		-e bold"



##==============================================================================
## STATUS BARS
##
## This optios control the behaviourt of the visual status bars that are plotted
## for CPU, Memory, Swap and HDD usage. You can set the percentage that
## determine when the current usage is deemed critical. If said percentage
## is surprased, the color of the bars will change and extra information
## might be plotted in addition (e.g. if the CPU usage is to high, the most
## demanding processes are printed to terminal).
##==============================================================================

crit_cpu_percent=40
crit_ram_percent=75
crit_swap_percent=25
crit_hdd_percent=85
crit_home_percent=85


bar_length=13			# Number of characters that comprise a bar
bar_num_digits=5		# Control num digits next to bar
info_label_width=16		# Desired length of the info labels



##==============================================================================
## OTHERS
##
## For date format setup, see `man date`
##==============================================================================

print_cols_max=100		# Keep logo and info text together
print_logo_right=false		# Change where the logo is plotted
date_format="%Y.%m.%d - %T"	# see 'man date'


